package home

import (
	"accent-ui/view/layout"
)

templ Index() {
	// Everything inside the @layout are children of the layout component
	@layout.App(true){
		// <div class="text-5xl text-primary">hello world</div>
	}
}